.content{
    overflow: scroll;
    width: 500px;
    height: 200px;
}

.notAllowed{
    cursor: not-allowed;
    pointer-events: none;
    background-color: red;
}

.allowed{
    cursor: auto;
   pointer-events: all;
   background-color: green;
}